.postcode-layout {
  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    & > div {
      flex-grow: 1;
      max-width: 540px;
    }
  }
}
